.dog-list {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    gap: 1px;
}

.dog-card {
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 8px;
}

.dog-card img {
    border-radius: 4px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}