<div class="login-container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" [(ngModel)]="name" name="name" required />
        </div>
        <div>
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" [(ngModel)]="email" name="email" required />
        </div>
        <div *ngIf="error" class="error">{{ error }}</div>
        <button class="btn btn-primary" [disabled]="!name.length || !email.length" type="submit">Login</button>
    </form>
</div>