.container {
    padding: 20px;
}

.filter,
.sort {
    margin-bottom: 1rem;
}

.pagination,
.match {
    margin-top: 20px;
}

@media (max-width: 767.98px) {

    #left-column,
    #right-column {
        height: 50vh;
        /* Each takes half the viewport height */
    }
}