<div class="container">
    <nav class="navbar navbar-light sticky-top bg-light mb-4 p-2 shadow-hover">
        <button class="navbar-toggler" type="button" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#filterDrawer" aria-controls="filterDrawer">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p class="navbar-brand m-0">Search for Shelter Dogs</p>

        <!-- Generate Match -->
        <button (click)="generateMatch()" class="btn btn-outline-primary">Generate Match</button>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="filterDrawer" aria-labelledby="filterDrawerLabel">
        <filter></filter>
    </div>


    <!-- Pagination -->
    <pagination [dogsTotalCount]="dogsTotalCount" [pagesTotalCount]="pagesTotalCount" [page]="page"></pagination>

    <!-- Error message -->
    <div class="alert alert-danger fade-in" role="alert" *ngIf="error">
        <strong>Oh snap!</strong> {{ error}}
    </div>

    <!-- Dogs List -->
    <div class="d-flex justify-content-center fade-in" *ngIf="!error && loadingStatus">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="dog-list" *ngIf="!error && !loadingStatus">
        <div class="card dog-card shadow-hover fade-in" *ngFor="let dog of dogs">
            <div class="card-body">
                <img class="card-img-top" [src]="dog.img" alt="{{ dog.name }}">
                <h4 class="card-title">{{ dog.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted"><strong>Breed:</strong> {{ dog.breed }}</h6>
                <h6 class="card-subtitle mb-2 text-muted"><strong>Age:</strong> {{ dog.age }}</h6>
                <h6 class="card-subtitle mb-2 text-muted"><strong>ZIP Code:</strong> {{ dog.zip_code }}</h6>
                <button class="btn btn-outline-success" (click)="toggleFavorite(dog.id)">
                    {{ favorites.has(dog.id) ? 'Unfavorite' : 'Favorite' }}
                </button>
            </div>
        </div>
    </div>


    <!-- Pagination -->
    <pagination [dogsTotalCount]="dogsTotalCount" [pagesTotalCount]="pagesTotalCount" [page]="page"></pagination>

</div>